.personal-care {
  padding-top: 9rem;
  padding-bottom: 8rem;
  background-color: $white;

  @include breakpoint(sm) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  &__container {
    @include content-layout();

    .split-content {
      gap: 3.5rem 9.5rem;

      .lhs {
        background-color: $panel-background-color;
        color: $primary;
        padding: 7rem 6rem;

        &__personal-care {
          padding-top: 3rem;
          color: $text;
        }
      }

      .rhs {
        &__personal-care__title {
          margin-bottom: 3rem;
          padding-right: 3rem;
        }

        &__personal-care__pre-title {
          color: $secondary;
          font-size: 2rem;
          line-height: 3rem;

          @include breakpoint(sm) {
            font-size: 2.5rem;
            line-height: 3.5rem;
          }
        }
      }
    }
  }
}
