@import "../../app/variables";

footer {
  width: 100%;
  background-color: $black;
  color: $text-white;

  .footer {
    @include content-layout();

    grid-template-areas:
      ".   menu    ."
      ".   logo    ."
      ".  contact  ."
      ". copyright .";

    @include breakpoint(sm) {
      grid-template-areas:
        "menu    logo   contact"
        " .   copyright    .   ";
    }

    &-menu {
      grid-area: menu;

      &__header {
        padding: 1rem 0;
        text-align: center;
        font-weight: bold;
        color: $primary;
      }

      .nav-bar ul {
        display: grid;
        font-size: 1.6rem;

        li a {
          color: $text-white;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    img {
      grid-area: logo;
      align-self: center;
      justify-self: center;
    }

    &-contact-us {
      grid-area: contact;

      &__header {
        padding-top: 1rem;
        text-align: center;
        font-weight: bold;
        color: $primary;
      }

      &__address {
        text-align: center;
        font-size: 1.6rem;
      }
    }

    &-copyright {
      grid-area: copyright;
      color: $primary;
      padding-bottom: 1rem;
    }
  }
}
