.header {
  background-color: $white;
  width: 100%;

  &-strip {
    background-color: $primary;

    &__content {
      min-height: 50px !important;
      @include content-layout();
      display: grid !important;
      padding: 0 1rem !important;

      grid-template-columns: repeat(2, max-content) 1fr;
      column-gap: 25px;
      justify-content: start;

      .icon-text,
      .header-strip__social {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        column-gap: 6px;
        color: $white;
        text-decoration: none;
      }

      .icon-text__location,
      .header-strip__social {
        display: none;
      }

      .header-strip__social:hover {
        cursor: pointer;
      }

      @include breakpoint(sm) {
        min-height: 38px !important;

        .icon-text__phone {
          display: none;
        }

        .icon-text__location,
        .header-strip__social {
          display: grid;
        }

        .header-strip__social {
          justify-self: end;
        }
      }
    }
  }

  &__content {
    background-color: $white;
    @include content-layout();
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;

    @include breakpoint(sm) {
      grid-template-columns: min-content 1fr min-content;
      justify-items: center;
    }

    img {
      width: 133px;

      @include breakpoint(md) {
        width: 194px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .navigation {
      display: none;

      @include breakpoint(sm) {
        display: block;

        &__list {
          height: 100%;
          display: grid;
          grid-template-columns: repeat(6, max-content);

          @include breakpoint(md) {
            column-gap: 2rem;
          }

          button {
            outline: none;
            background: none;
            border-width: 0;
            color: $mild-grey;

            :hover {
              cursor: pointer;
            }

            p {
              margin-bottom: 0;
            }

            &.selected > p {
              color: $secondary;
              font-weight: bold;
            }
          }
        }
      }
    }

    .icon-text__phone-link {
      display: none;

      @include breakpoint(sm) {
        color: $secondary;
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 5px 20px;
        align-content: center;
        
        span {
          grid-row: span 2;
          margin: auto;
          font-size: 3em !important;
        }
      }
    }
  }
}
