.live-at-home {
  position: relative;
  padding-top: 9rem;
  padding-bottom: 8rem;
  background-color: $primary;

  @include breakpoint(sm) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  &__container {
    @include content-layout();

    .split-image-content {
      gap: 3.5rem 9.5rem ;
      color: $white;

      .live-at-home__title {
        padding-right: 3rem;
      }

      button {
        display: none;
        background-color: $white;
      }
    }
  }

  &__decorative-image {
    display: none;

    @include breakpoint(sm) {
      display: block;
      position: absolute;
      left: 15px;
      bottom: 15px;
    }
  }
}
