.home-services {
  background-image: url("../../../public/images/aged-care-services.png");
  background-size: cover;
  padding: 4rem 0;

  @include breakpoint(sm) {
    padding: 15rem 0 14.5rem;
  }

  &__content {
    @include content-layout();
    gap: 2rem 5rem;

    @include breakpoint(sm) {
      grid-template-columns: 1fr 1fr;
    }

    &__tile a {
      @include responsive-button-size(1.4rem);
    }
  }
}
