.support-packages {
  padding-top: 9rem;
  padding-bottom: 8rem;
  background-color: $white;

  @include breakpoint(sm) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  &__header {
    margin: 0 1rem 4rem !important;
    text-align: center;
    font-weight: normal !important;
    display: grid;
  }

  &__options {
    @include content-layout();

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem 5.7rem;
  }
}
