.why {
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: $panel-background-color;

  @include breakpoint(sm) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  &__container {
    @include content-layout();
    text-align: center;

    @include breakpoint(sm) {
      & > p {
        padding: 0 min(10rem, 8%);
      }
    }
  }
}
