@import "../../app/variables";

.split-content {
  display: grid;
  align-items: center;
  row-gap: 3.5rem;
  text-align: center;
  text-align: left;

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}
