@import "../../app/variables";

.tile-component {
  border: solid 1px $white;
  border-radius: .5rem;
  padding: 3rem 2rem;
  text-align: center;
  color: $white;

  @include breakpoint(xs) {
    padding: 7.8rem 8.9rem 7.5rem;
  }

  &.solid {
    background-color: $white;

    h2 {
      color: $primary;
    }

    p {
      color: $text;
    }

    a {
      color: $white;
    }
  }

  h2 {
    margin-bottom: 1.5rem;

    @include breakpoint(xs) {
      margin-bottom: 3rem;
    }
  }

  p {
    margin-bottom: 2.5rem;

    @include breakpoint(xs) {
      margin-bottom: 3.5rem;
    }
  }
}
